div {

    width : 500px;
    height : 200px;
    border : 1px solid black;
    border-radius: 6px;
    margin: auto;
}
body {
    text-align: center;
}
button {

    height :50px;
    width : 100px;
    border-radius: 50%;
}